<div data-refresh-list-target="list">
  <div class="cities">
    <% @cities.each do |city| %>
      <div class="city-card">
        <h2><%= city.name %> <small>(<%= city.state.name %>)</small></h2>
      </div>
    <% end %>
  </div>
</div>
